* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: black;	
}

#banner {
	width: 1194px;
  	height: 430px;
  	margin: 0 auto;
}

#banner .bannerImg{
	width: 888px;
	height: 430px;
	background-image: url('../images/banner.svg');
}

#loginWrap {
	width: 276px;
	height: 124px;
	background: #FAFAFA;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	vertical-align: center;
	text-align: center;
}

#loginBtn {
	margin-left: 18px;
	padding-top: 14px;
	width: 240px;
	height: 36px;
	color: white;
	background: #FCC42E;
	font-size: 18px;
}

#loginBtn:hover {
	cursor: pointer;
}

#advertisement {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 7px;
	padding: 138px 0px;
	width: 276px;
	background: #F3F2F2;
	color: #C4C4C4;
}

section {
  	display: table;
  	margin: 0 auto;
	margin-top: 70px;
	width: 1194px;
	height: 390px;
}

#calendar {
	float: left;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#calendarHeader {
	display: table-cell;
	padding-left: 10px;
	width: 602px;
	height: 40px;
	border: 1px solid #FFC200;
	border-radius: 5px 5px 0 0;
	color: white;
	background-color: #FFC200;
	vertical-align: middle;
}

#calendarBody {
    display: table;
  	width: 612px;
  	height: 354px;
  	border-radius: 0 0 5px 5px;
  	background-color: white;
}

.cal_top {
  	display: table-cell;
  	float: left;
  	margin: 20px 0 0 11px;
  	width: 200px;
  	height: 320px;
    text-align: center;
    font-size: 18px;
 }

#cal_tab {
    display: table-cell;
    float: right;
    margin: 20px 20px 0 0;
    width: 360px;
    height: 320px;
}

#cal_msg {
  	margin-top: 88px;
    margin-left: 9px;
  	padding: 40px 0px;
  	width: 180px;
  	height: 20px;
  	border: 1px solid #C4C4C4;
  	border-radius: 20px;
  	background-color: #F9F9F9;
  	color: #C4C4C4;
  	font-size: 14px;
}

table.calendar {
     display: inline-table;
     text-align: left;
}

table.calendar th {
	width: 50px;
  	text-align: center;
    vertical-align: top;
}

table.calendar td {
  	width: 50px;
    text-align: center;
}

#cal_top_date {
	margin-top: 20px;
  	font-size: 36px;
}

.cal_tit {
  	padding: 10px;
  	color: #A4A4A4;
}

#notice {
	display: table-cell;
	float: right;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 5px;
}

#noticeHeader {
	display: table-cell;
	padding-left: 20px;
	width: 440px;
	height: 40px;
	border-bottom: solid white 2px;
	border-radius: 5px 5px 0 0;
	color: black;
	background-color: white;
	vertical-align: middle;
}

#noticeHeader span {
    color: #FFC42E;
}

#noticeHeader a {
	float: right;
	padding-right: 20px;
	color: #FFC200;
}

#noticeBody {
	width: 420px;
	height: 140px;
	border-radius: 0 0 5px 5px;
	background-color: white;
}

#noticeBody a {
    width: 80%;
    font-size: 14px;
}

#noticeBody span {
    width: 20%;
    font-size: 12px;
    color: #777;
    text-align: right;
}

#more {
	display: table-cell;
	font-size: 12px;
	vertical-align: middle;
}

#more:hover {
	font-size: 12px;
	color: #819ADE;
	cursor: pointer;
}

#alert {
	display: table-cell;
	float: right;
	margin-top: 30px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 5px;
}

#alertHeader {
	display: table-cell;
	padding-left: 20px;
	width: 440px;
	height: 40px;
	border-radius: 5px 5px 0 0;
	background-color: white;
	color: black;
	vertical-align: middle;
}

#alertHeader span {
   	color: #FFC42E;
}

#alertHeader a {
	float: right;
	padding-right: 20px;
	color: #FFC42E;
}

#alertBody {
	width: 420px;
	height: 140px;
	border-radius: 0 0 5px 5px;
	background-color: white;
}

#alertBody a {
    width: 80%;
    font-size: 14px;
}

#alertBody span {
    width: 20%;
    font-size: 12px;
    color: #777;
    text-align: right;
}

#noticeBody div,
#alertBody div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px;
	width: 420px;
	height: 33px;	
}

#noticeBody div:hover,
#alertBody div:hover {
	width: 420px;
	height: 35px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 5px;
	cursor: pointer;
}
