.popup_btn a {
    display: inline-block;
    padding: 20px;
    background: darkred;
    color: #fff;
}

.popup {
    position: fixed;
    width: 60%;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
    /* "delay" the visibility transition */
    -webkit-transition: opacity .5s, visibility 0s linear .5s;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
}

.popup:target {
    visibility: visible;
    opacity: 1;
    /* cancel visibility transition delay */
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.popup-close {
    position: absolute;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .9);
}

.popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    transition: color .3s;
    font-size: 2em;
    line-height: .6em;
    font-weight: bold;
}

.popup .close:hover {
    color: #00E5EE;
}

#alertBox {
    height: 80px;
    width: 100%;
    background: #EFF3FF;
}

#alertTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    width: 100%;
    font-size: 18px;
}

#alertBoxHeader {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#alertType {
    color: #1ABC9C;
    font-size: 16px;
    font-weight: bold;
}

#alertDate {
    color: #535353;
}

#alertContent {
    padding-left: 10px;
}

#alertBoxOn {
    margin-bottom: 10px;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    background: #1ABC9C;
}

#alertBoxOnHeader {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

#alertTypeOn {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#alertDateOn {
    color: #535353;
}

#alertContentOn {
    padding-left: 10px;
}

.link {
	font-weight: bold;
	text-decoration:underline;
	cursor: pointer;
}