@charset "UTF-8";


#navWrap {
    width: 1194px;
    margin: 0 auto;
    margin-top: 80px;
}

#navInnerWrap {
    display: block;
}

#navSub {
    display: block;
}

#myPageBodyBg {
    background: #FAFAFA;
}

#cardWrap {
    width: 18rem;
    background: white;
    border: 1px solid #eee;
    border-radius: 10px;
}

.boardListWrap {
    width: 870px;
    margin: 0 auto;
}

.boardListWrap th,
.boardListWrap td {
    padding: 10px;
    font-size: 14px;
}

.boardListWrap td, th {
    text-align: center;
}

#deleteBtn:hover {
    cursor: pointer;
}

a:link {
    color: #3E454D;
    text-decoration: none;
}

a:visited {
    color: #3E454D;
    text-decoration: none;
}

a:hover {
    color: #3E454D;
    text-decoration: underline;
}

#logoutBtn {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #FBAB7E;
    color: #FBAB7E;
    background: white;
    border-radius: 5px;
}

#logoutBtn:hover {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#cardTitle {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #535353;
}

#cardBody {
    padding: 20px 0;
    text-align: center;
    height: 180px;
}

#userUniv {
    margin: 10px 0 40px 0;
}

#thBorder {
    border-bottom: 1px solid #eee;
    background: green;
}

#thBorder th {
	text-align: center;
	background: green;
}

#completeBtn,
#cancelBtn,
#okBtn {
    color: #3E454D;
}

