@charset "UTF-8";

        #navWrap {
            width: 1194px;
            margin: 0 auto;
        }

        #navInnerWrap {
            display: block;
        }

        #navSub {
            display: block;
        }

        #banner {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 1920px;
            height: 100px;
            background-color: white;
            border-radius: 5px;
            margin-bottom: 80px;
        }

        #banner div {
            width: 100px;
            font-size: 18px;
            font-weight: bold;
            color: #3E454D;
            vertical-align: middle;
        }

        body {
            background: #F4F4F4;
        }

        #cardWrap {
            width: 18rem;
            background: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
            border: none;
            border-radius: 10px;
        }

        .boardListWrap {
            width: 870px;
            margin: 0 auto;
        }

        .boardListWrap th,
        .boardListWrap td {
            padding: 10px;
            font-size: 14px;
        }

        .boardListWrap td, th {
            text-align: center;
        }

        #deleteBtn:hover {
            cursor: pointer;
        }

        a:link {
            color: #3E454D;
            text-decoration: none;
        }

        a:visited {
            color: #3E454D;
            text-decoration: none;
        }

        a:hover {
            color: #3E454D;
            text-decoration: underline;
        }

        #logoutBtn {
            display: block;
            width: 100px;
            height: 40px;
            margin: 0 auto;
            border: 1px solid #3E454D;
            color: #3E454D;
            background: white;
            border-radius: 5px;
        }

        #logoutBtn:hover {
            display: block;
            width: 100px;
            height: 40px;
            margin: 0 auto;
            background: #3E454D;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        #cardTitle {
            display: flex;
            align-items: center;
            padding-left: 10px;
            height: 50px;
            font-size: 18px;
        }

        #cardBody {
            padding: 20px 0;
            text-align: center;
            height: 180px;
        }

        #userUniv {
            margin: 10px 0 40px 0;
        }

        #thBorder {
            border-bottom: 1px solid #eee;
        }