@charset "UTF-8";

#rejectMsgBg {
    background: #FAFAFA;
}

#rejectMsgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#closeBtnWrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#reservationInfoCloseBtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 20px;
    align-items: center;
    padding: 6px 24px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #1abc9c;
    color: #1abc9c;
    background: white;
}

#reservationInfoCloseBtn:hover {
    cursor: pointer;
}

#rejectImg {
    width: 80px;
    height: 80px;
}

#rejectImgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 10px 0px;
    width: 500px;
    background: white;
    border-radius: 10px 10px 0px 0px;
}

#rejectTit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    width: 500px;
    background: white;
    font-size: 24px;
}

#infoWrap {
    display: flex;
    align-items: center;
    height: 40px;
}

#infoTitle {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 130px;
    height: 40px;
    background: #f1f1f1;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#InfoTable {
    margin: 0px 20px;
    collapse: none;
}

#infoText {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    width: 370px;
    background: white;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#infoWrap {
     border: 1px solid #d9d9d9;
}

#rejectMsgInnerWrap {
    padding-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#reservationTit {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 20px;
    height: 40px;
    background: #1abc9c;
    color: white;
    border-radius: 5px 5px 0px 0px;
}