@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

#banner {
  	display: table;
  	margin: 0 auto;
  	width: 1194px;
  	height: 80px;
  	background-color: #FCC42E;
  	border-radius: 5px;
}

#banner div {
  	display: table-cell;
  	padding: 36px;
  	font-size: 18px;
  	color: white;
  	vertical-align: middle;
}

#messageWrap {
	margin: 0 auto;
	margin-top: 40px;
	width: 1194px;
}

.mylist {
	width: 278px;
	height: 660px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	border-radius: 5px;
}

#list {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
}

#list:hover {
	background: #FFC42E;
	color: white;
	cursor: pointer;
}

#messageTitle {
	display: flex;
	align-items: center;
	padding-left: 10px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #FCC42E;
}

#mailWrap {
	margin-top: 0px;
	float: right;
	width: 856px;
}

#messageInner {
	float: right;
}

#sender {
	display: flex;
	align-items: center;
	padding-left: 20px;
	width: 836px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: #FCC42E;
}

#receiveMessage {
	width: 856px;
	height: 108px;
	background: #F8F8F8;
}

#sendMessage {
	width: 856px;
	height: 108px;
}

#messageType {
	text-align: center;
	padding-top: 20px;
}

#receivetype {
	float: left;
	padding-left: 20px;
	color: #3296B6;
	font-size: 14px;
	font-weight: bold;
}

#receivedate {
	float: right;
	padding-right: 20px;
}

#sendtype {
	float: left;
	padding-left: 20px;
	color: #44B632;
	font-size: 14px;
	font-weight: bold;
}

#senddate {
	float: right;
	padding-right: 20px;
}

#messageContent {
	margin-top: 30px;
	padding-left: 20px;
	font-size: 14px;
}
